<div class="col-lg-12 clown">
  <li><%= f.label :section_title, 'Section Title' %></li>
  <li><%= f.text_area :section_title, :rows => 2 , placeholder: 'SECTION TITLE' , :class => 'h3', :required => true %></li>
  <br />

  <li><%= f.text_area :pages, :class => 'textarea p', placeholder: 'CONTENT REQUIREDddddd * (Try keeping to Max. 500 words' , :required => true  %><li>

       <div class="errors">
        <div class="topper">
           <%= devise_error_messages! %>
        </div>
      </div>
  <h3><%= link_to_remove_fields "remove", f  %></h3>
</div>

<script>
    $('.textarea').wysihtml5();
</script>


