<div id="chapter-container">
  <div class="row topper">

    <div class="col-lg-6 ">
      <ul>
        <h2 class="bottomer">Chapter List</h2>
        <% @chapters.each do |chapter| %>
              <li class="bottomer"><%= link_to(chapter.title, chapter, :class => "btn-signin") %>        By <%= chapter.user.username %>   |   <%= time_ago_in_words(chapter.created_at)  +  " ago" %></li>

          <% if current_user.is_admin? %>
          <li>
            <%= link_to 'Edit', edit_chapter_path(chapter), :method => :get, :class => 'btn btn-warning' %>
            <%= link_to 'Delete', chapter, :method => :delete, :class => 'btn btn-danger' %></li>
          <% end %>

        <% end %>
      </ul>
    </div>


    <div class="col-lg-6">
      <ul>
        <li>
            <% if current_user.is_admin? %>
            <%= link_to('Create a Chapter', new_chapter_path, :class => 'btn-signin2') %>
            <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>