      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="menu_container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="menu-icon"></span>
            </button>
            <a class="navbar-brand" href="/">NYX <span class="mint">|</span> MYTH</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav lefty navito">

        <% if user_signed_in? %>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/chapters">Read Chapter</a></li>
              <li><a href="/forums">Forum</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#" class="btn-buy">BUY NOW</a></li>
<!--               <li><div class="btn-signin" a href="/login">Sign in</div></li> -->

              <li><div class="time-cont"></div></li>
              <li><div class="current_date"></div></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>

              <ul class="dropdown-menu">
                        <li class="dropdown-header"><a href="<%= edit_user_registration_path %>"><span>Edit  </span><%= current_user.username %></a></li>
  <!--                                          <li><a><!%#= link_to('My Profile', current_user)%></li> -->
                <li class="divider"></li>
                   <li> <%= link_to "Logout", logout_path, :data => { :confirm => "Are you sure?" }, :class => '' %></li>
              </ul>
            </li>


            <% if current_user.is_admin? %>

            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Options<b class="caret"></b></a>

                          <ul class="dropdown-menu">
                                    <li class="dropdown-header"><a href="/chapters/new">Create Chapter</a></li>
                                    <li class="dropdown-header"><a href="/chapters">Edit Chapter</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header"><a href="/users">See all Users</a></li>
                          </ul>
                        </li>
                        <li class="topp"><%= notice %></li>
             <% end %>



        <% else %>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="" class="btn-buy">BUY NOW</a></li>
<!--               <li><div class="btn-signin" a href="/login">Sign in</div></li> -->

              <li><div class="time-cont"></div></li>
              <li><div class="current_date"></div></li>


             <li><%= link_to "Register", register_path, :class => '' %></li>
             <li><%= link_to "Sign In", login_path, :class => '' %></li>


        <% end %>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
