<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>NYX | MYTH      -      Chapter  </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="../../../images/favicon.ico">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

  </head>

  <body>
   <%= render 'layouts/header' %>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->

      <%= yield %>
      </div>
   <%= render 'layouts/footer' %>


    <!-- Bootstrap core JavaScript
    ================================================== --><!--

    <script src="../../assets/js/jquery.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
 -->
  </body>
</html>
